# -*- makefile -*-

# python virtualenv
vst_venv
.venv/

bin/

# robot framework output
*.html
*.xml
*.pyc
*.swp

# IDEs
.idea

# other outputs
tests/scale/plots

bin/kail

# Junk in the trunk: *.log
# ------------------------
tests/dmi-interface/kafka_robot_*.log
tests/pm-data/kafka_robot_*.log
tests/openonu-go-adapter/kafka_robot_*.log

# [EOF]
