# SPDX-FileCopyrightText: 2019 - present Open Networking Foundation <info@opennetworking.org>
#
# SPDX-License-Identifier: Apache-2.0

apiVersion: v3
server: voltha-api.voltha:55555
kafka: voltha-kafka-0.voltha-kafka-headless.voltha:9092
tls:
  useTls: false
  caCert: ""
  cert: ""
  key: ""
  verify: ""
grpc:
  timeout: 10s
